# Base de datos PostgreSQL
POSTGRES_DB=viamatica
POSTGRES_USER=viamatica_user
POSTGRES_PASSWORD=viamatica_pass

# JWT
JWT_KEY=SuperSecretKey32CharactersMinimum!
JWT_ISSUER=ViamaticaApi
JWT_AUDIENCE=ViamaticaClient

# Encriptación AES-256 (debe ser exactamente 32 caracteres)
ENCRYPTION_KEY=AES256Key32BytesLongExactly!!!

# Redis
REDIS_CONNECTION_STRING=redis:6379
